# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/ 
.installed-
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/
